modules = ["nodejs-20", "web", "python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[agent]
expertMode = true
